@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-color: #F8FAFC; /* Blanc cassé pour l'arrière-plan */
    padding: 20px;
}

/* Conteneur principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Card du profil utilisateur */
.profile-card {
    background-color: #FFFFFF; /* Fond blanc pour la carte */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    margin: 20px;
}

/* Image du profil */
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Titre du profil */
h2 {
    font-size: 1.5rem;
    color: #1E293B; /* Bleu nuit pour les titres */
    margin-bottom: 10px;
}

/* Infos utilisateur */
.profile-card p {
    font-size: 1rem;
    color: #3B82F6; /* Bleu acier pour le texte */
    margin: 8px 0;
    font-weight: 400;
    background-color: #F8FAFC; /* Fond blanc cassé */
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Texte en gras */
.profile-card strong {
    font-weight: bold;
    color: #1E293B; /* Bleu nuit */
}

/* Sous-textes */
.profile-card span {
    font-weight: 400;
    color: #3B82F6; /* Bleu acier */
}

/* Style pour les boutons et actions */
.Btn_add {
    width: fit-content;
    margin-bottom: 20px;
    background-color: #047857; /* Vert foncé */
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.Btn_add:hover {
    background-color: #3B82F6; /* Bleu acier au survol */
}

.Btn_add img {
    margin-right: 5px;
    height: 20px;
}
