/* Footer */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

footer {
    background-color: #1E293B; /* Bleu nuit */
    width: 100%;
    padding: 10px 0; /* Réduction de padding */
}

/* Conteneur du footer */
.footerContainer {
    width: 100%;
    padding: 10px 0; /* Réduction du padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Icônes sociales */
.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Réduction de l'espacement */
    margin-bottom: 10px; /* Réduction de l'espace sous les icônes */
}

.socialIcons a {
    text-decoration: none;
    padding: 4px; /* Réduction de taille des icônes */
    background-color: #F8FAFC; /* Blanc cassé */
    margin: 0;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 1.2em; /* Réduction de la taille des icônes */
    color: #1E293B; /* Bleu nuit */
    opacity: 0.9;
}

/* Hover sur les icônes sociales */
.socialIcons a:hover {
    background-color: #3B82F6; /* Bleu acier */
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #F8FAFC; /* Blanc cassé */
    transition: 0.5s;
}

/* Navigation du footer */
.footerNav {
    margin: 10px 0; /* Réduction de la marge */
    width: 100%;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 15px; /* Réduction de l'espacement */
}

.footerNav ul li a {
    color: #F8FAFC; /* Blanc cassé */
    text-decoration: none;
    font-size: 0.9em; /* Réduction de la taille de la police */
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

/* Section footer bottom */
.footerBottom {
    background-color: #000; /* Noir */
    padding: 5px; /* Réduction de padding */
    text-align: center;
    font-size: 0.8em; /* Réduction de la taille de la police */
    color: #F8FAFC; /* Blanc cassé */
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* Responsive pour footer */
@media (max-width: 700px) {
    .footerContainer {
        padding: 5px; /* Réduction du padding */
    }

    /* Icônes sociales */
    .socialIcons {
        gap: 10px; /* Réduction de l'espacement */
        margin-bottom: 10px; /* Réduction de l'espace sous les icônes */
    }

    .socialIcons a {
        padding: 4px; /* Réduction de la taille des icônes */
        margin: 0 5px; /* Espacement réduit entre les icônes */
    }

    /* Navigation du footer */
    .footerNav ul {
        flex-direction: column;
        gap: 5px; /* Réduction de l'espacement entre les éléments */
    }

    .footerNav ul li a {
        font-size: 0.8em; /* Réduction de la taille de la police sur mobile */
        padding: 8px; /* Réduction de l'espace autour des liens */
    }

    /* Footer bottom */
    .footerBottom {
        padding: 5px;
    }
}
