/* Reset général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #1E293B; /* Bleu nuit */
    height: 80px;
    width: 100%;
    position: relative;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 5vh;
    max-width: 100px;
    height: auto;
    opacity: 0.8;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
}

/* Liste des liens */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

/* Liens de navigation */
nav ul li a {
    text-decoration: none;
    color: #F8FAFC; /* Blanc cassé */
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Quand le bouton devient bleu acier */
nav ul li a:hover {
    background-color: #3B82F6; /* Bleu acier */
    color: #F8FAFC; /* Blanc cassé */
}

/* Menu Burger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}

.burger div {
    width: 30px;
    height: 4px;
    background-color: #F8FAFC; /* Blanc cassé */
    margin: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    /* Ajustement du conteneur */
    nav {
        position: absolute;
        width: auto;
        top: 80px;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* Conteneur du menu */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 0;
        width: 200px;
        background-color: #1E293B; /* Bleu nuit */
        padding: 15px 0;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    /* Activation du menu */
    nav ul.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    /* Ajustement des liens */
    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        padding: 12px;
        font-size: 16px;
        width: 100%;
    }
}
