@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    padding: 20px;
    background-color: #F8FAFC; /* Blanc cassé */
}

/* Bouton d'ajout */
.Btn_add {
    width: fit-content;
    margin-bottom: 20px;
    background-color: #047857; /* Vert foncé */
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.Btn_add:hover {
    background-color: #3B82F6; /* Bleu acier */
}

.Btn_add img {
    margin-right: 5px;
    height: 20px;
}

/* Tableau */
table {
    border-collapse: collapse;
    color: #1E293B; /* Bleu nuit */
}

th {
    font-size: 16px;
    border-bottom: 3px solid #3B82F6; /* Bleu acier */
    padding: 5px 20px;
    font-weight: 500;
}

td {
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;
}

img {
    height: 25px;
}

tr:nth-child(2n) {
    background-color: #F8FAFC; /* Blanc cassé */
}

tr:nth-child(2n) td {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}

/* Formulaire */
.form {
    background-color: #F8FAFC; /* Blanc cassé */
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.form form {
    display: flex;
    width: 350px;
    flex-direction: column;
}

/* Bouton retour */
.back_btn {
    color: #047857; /* Vert foncé */
    text-decoration: none;
    display: flex;
    align-items: center;
}

.back_btn img {
    height: 16px;
    margin-right: 5px;
}

h2 {
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #1E293B; /* Bleu nuit */
}

/* Message d'erreur */
.erreur_message {
    color: red;
    font-size: 12px;
}

/* Labels */
label {
    margin-top: 5px;
    text-transform: uppercase;
    color: #1E293B; /* Bleu nuit */
}

/* Champs de formulaire */
input {
    padding: 5px;
    border: 1px solid #999;
    outline: none;
    margin-top: 2px;
}

input:focus {
    border: 1px solid #3B82F6; /* Bleu acier */
}

/* Bouton de soumission */
input[type="submit"] {
    margin-top: 25px;
    background-color: #047857; /* Vert foncé */
    border: 1px solid #047857;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3B82F6; /* Bleu acier */
    border: 1px solid #3B82F6;
}
