@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F8FAFC; /* Blanc cassé pour le fond */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FAFC; /* Fond blanc cassé */
    border-radius: 10px;
}

.container .img img {
    width: 300px;
}

.title {
    color: #1E293B; /* Bleu nuit pour le titre */
    font-size: 20px;
}

h1 {
    margin: 10px 0;
    font-size: 25px;
    color: #1E293B; /* Bleu nuit pour les titres */
}

.login {
    width: 400px;
}

.login p {
    font-size: 12px;
    color: #999;
}

.identifiants {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 6px;
    margin: 10px 0;
}

form input {
    margin: 5px 0;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #999;
    outline: 0;
    transition: 0.5s;
    color: #3B82F6; /* Bleu acier pour les champs */
}

form input:focus {
    border-bottom: 2px solid #3B82F6; /* Bleu acier pour le focus */
}

form a {
    text-align: right;
    margin-top: 12px;
    color: #047857; /* Vert foncé pour les liens */
    text-decoration: 0;
    font-weight: 500;
    transition: 0.25s;
}

form a:hover {
    color: #1E293B; /* Bleu nuit pour le hover */
}

form input[type='submit'] {
    background-color: #047857; /* Vert foncé pour le bouton */
    border: 1px solid #047857;
    color: #fff;
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
}

.link-2 {
    margin-top: 10px;
    text-align: center;
}

.link-2 a {
    color: #fff; /* Texte en blanc */
    text-decoration: 0;
    font-weight: 500;
    transition: 0.25s;
}

.link-2 a:hover {
    color: #3B82F6; /* Bleu acier pour le hover */
}

@media (max-width: 1300px) {
    .container {
        padding: 0 20px;
        width: fit-content;
    }

    .container .img {
        display: none;
    }

    .container .login {
        width: 100%;
    }
}
